*{
    margin: 0%;
    padding: 0%;
}
.first {
    background-position: center;
    background-image: url(../images/backgrounds/h_img.jpg);
    background-size: cover;
    height: 55vw;
    width: 100vw;
    padding-top: 20vh;

}
.third {
    background-position: center;
    background-image: url(../images/backgrounds/s_image.jpg);
    background-size: cover;

}
.design-p, .dev-p, .product-p {
  display: none;
  max-height: 30vh;
  width: 50vw;
  margin: 3.5vw;
}
.column {
    width: 70vw;
    cursor: pointer;
}
.work {
    height: 35vh;
    width: 20vw;
    margin: 2vh 0;
    position: relative;
    cursor: pointer;
  }
  
.work-layout {
    width: 20vw;
    height: 35vh;
    background-color: transparent;
    position: absolute;
    margin: 2vh 0;
    color: white;
    z-index: 1;
    transition: all 0.5s ease-in-out;
    clip-path: polygon(0 0, 0 0, 100% 100%, 40% 40%);
  }
  
.inner-layout {
    border: 5px solid white;
    padding: 5%;
    background-color: darkblue;
  }
.sixth{
    background-image: url(/images/backgrounds/c_image.jpg);
    background-position: center;
    background-size: cover;
      
  }
  
