* {
  margin: 0%;
  padding: 0%;
  font-family: "Lexend Deca", sans-serif;
}
.first {
  background-position: center;
  background-image: url(../images/backgrounds/h_img.jpg);
  background-size: cover;
  height: 55vw;
  width: 100vw;
  padding-top: 20vh;
}
.mouse{
    padding-top: 20vh;
}
.third {
  background-position: center;
  background-image: url(../images/backgrounds/s_image.jpg);
  background-size: cover;
}
.design-p,
.dev-p,
.product-p {
  display: none;
  max-height: 30vh;
  width: 50vw;
  margin: 3.5vw;
}
.column {
  width: 70vw;
  cursor: pointer;
}
.work {
  height: 35vh;
  width: 20vw;
  margin: 2vh 0;
  position: relative;
  cursor: pointer;
}

.work-layout {
  width: 20vw;
  height: 35vh;
  background-color: transparent;
  position: absolute;
  margin: 2vh 0;
  color: white;
  z-index: 1;
  transition: all 0.5s ease-in-out;
  clip-path: polygon(0 0, 0 0, 100% 100%, 40% 40%);
}

.inner-layout {
  border: 5px solid white;
  padding: 5%;
  background-color: darkblue;
}
.sixth {
  background-image: url(/images/backgrounds/c_image.jpg);
  background-position: center;
  background-size: cover;
  width: 100vw;
  height: 45vw;
}

#email,
#name,
#message {
  background: transparent;
  color: white;
}
#message {
  height: 50vh;
  width: 55vw;
}

#name {
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  height: auto;
}
.socials{
    margin-top: 30px;
}
.title{
    padding-top: 20px;
    align-items: center;
    padding-bottom: 20px;
}
.row{
    padding-bottom: 5vh;
}
.fullname{
    width: 100%;
    font-size: 20px;
    border: 1px solid white;
    padding: 10px;
}
.email{
    width: 100%;
    font-size: 20px;
    border: 1px solid white;
    padding: 10px;
}
@media screen and (max-width: 992px) {
    .work {
        width: 42vw;
        height: auto;
    }
    .work-layout {
        width: 42vw;
        height: 40vh;
        background-color: transparent;
        margin: 1vh 0;
        color: aliceblue;
        align-self: center;
        margin-left: 17vw;
        clip-path: polygon(0 0, 0 0, 100% 100%, 40% 40%);
    }
    .name {
        align-items: center;
        justify-content: center;
        justify-content: space-between;
        height: 25vh;
    }
    input {
        width: 70vw;
        margin: 0;
    }
    .sixth{
        height: 100vh;
    }
    .first{
        height: 70vh;
    }
}

@media screen and (max-width: 1455px) {
   .sixth{
       height: 100vh;
   }
    
}

