*{
    margin: 0%;
    padding: 0%;
}
.first {
    background-position: center;
    background-image: url(../images/backgrounds/h_img.jpg);
    background-size: cover;
    height: 55vw;
    width: 100vw;
    padding-top: 20vh;

}
.third {
    background-position: center;
    background-image: url(../images/backgrounds/s_image.jpg);
    background-size: cover;

}
.design-p, .dev-p, .product-p {
  display: none;
  max-height: 30vh;
  width: 50vw;
  margin: 3.5vw;
}
.column {
    width: 70vw;
    cursor: pointer;
}
